:root {
    --light: #F5F5F5;
    --dark: #050505;
    --highlight: #00B48C;
}

@font-face {
    font-family: 'Eurostile';
    src: url('eurostile-webfont.woff2') format('woff2'),
         url('eurostile-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 900px) {

    .image-container img {
        width: 100%;
        scale: 0.8;
    }

    h1, h2, h3 {
        font-size: 2em !important;
    }

    p, ul {
        font-size: 1em !important;
    }

    .background-pattern {
        background-size: 30% !important;
    }

    .flex {
        flex-direction: column !important;
    }

    .article, .page {
        width: 100% !important;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        padding-bottom: 200px;
    }

    .topbar {
        flex-direction: column !important;
    }
    
    .price-container {
        flex-direction: column !important;
    }

    .pricing-plan {
        width: 95% !important;
    }
}

* {
    box-sizing: border-box;
    transition: all 0.4s;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Cantarell", sans-serif;
    color: var(--light);
}

.blur {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

.page {
    line-height: 1.6;
    width: 80%;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
    padding: 2em;
    margin-top: 4em;
    border-radius: 1em;
    z-index: 1;
    position: relative;
    opacity: 1;
}

.page > p > a {
    padding: 0;
    margin: 0;
    color: var(--highlight);
}

.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
.background-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.background-pattern {
    background-image: url(./assets/images/griddy.svg);
    background-color: var(--dark);
    background-size: 8%;
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0%;
    min-height: 100%;
    width: 100%;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
}
h1 {
    font-size: 2.5em;
    color: var(--light);
    font-family: 'Eurostile';
}
h2 {
    font-size: 2em;
    color: var(--light);
    font-family: 'Eurostile';
}

h3 {
    font-size: 1.5em;
    color: var(--light);
}

ul {
    list-style-type: disc;
    color: var(--light);
    text-align: left;
}

p {
    color: var(--light);
    margin-bottom: 1em;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--light);
    margin: 2em;
    padding: 0;
    font-size: 1em;
    text-wrap: nowrap;
}

a:hover {
    color: var(--highlight);
}

.image-container img {
    display: block;
    margin: 0 auto;
}

.topbar {
    width: 100%;
    min-height: 7vh;
    background-color: var(--dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.title {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.author > img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.article {
    width: 80%;
    min-height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    justify-content: space-around !important;
}

.article p, .article a {
    font-size: 1em;
    padding: 0;
    margin: 20px;
    text-wrap: wrap;
}

.article img {
    width: 32px;
    height: 32px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100vw;
    min-height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: center;
    background-color: var(--dark);
    z-index: 2;
    position: absolute;
    margin-top: 2em;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    position: relative;
}

.pricing-plan {
    border: 1px solid var(--dark);
    border-radius: 1em;
    padding: 2em;
    text-align: center;
    margin: 1em;
    display: flex;
    width: 33%;
    height: 600px;
    flex-direction: column;
    align-items: center;
}
.plan-title {
    font-size: 32px;
    margin-bottom: 1em;
}
.price {
    font-size: 28px;
    margin-bottom: 1em;
}
.features {
    text-align: left;
    margin-bottom: 1em;
}
.features li {
    margin-bottom: 1em;
}
.select-plan {
    background-color: var(--highlight);
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none;
}
/* Modal styling */
.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-content {
    margin: 15% auto;
    padding: 2em;
    border-radius: 2em;
    width: 80%;
    max-width: 500px;
    position: relative;
}
.close {
    color:  var(--light);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--dark);
    border-radius: 5px;
}
.contact-form button {
    background-color: var(--highlight);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: var(--highlight);
}
